<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" rel="stylesheet">
    <script type="text/javascript" src="/assets/js/main.js"></script>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}

      <h1><a href="{{ "/" | absolute_url }}">
          {{ site.title }}
      </a></h1>
      {% endif %}

        {{ content }}

        {% for post in site.categories.guide %}
        {% if post.url == page.url %}
        {% assign post_index0 = forloop.index0 %}
        {% assign post_index1 = forloop.index %}
        {% endif %}
        {% endfor %}
        {% for post in site.categories.guide %}
        {% if post_index0 == forloop.index %}
        {% assign next_post = post %}
        {% endif %}
        {% if post_index1 == forloop.index0 %}
        {% assign prev_post = post %}
        {% endif %}
        {% endfor %}

        {% if prev_post %}
        <a href="{{ prev_post.url }}">⬅ {{prev_post.title}}</a> <br>
        {% endif %}
        {% if next_post %}
        <a href="{{ next_post.url }}">{{next_post.title}} ➡</a> <br>
        {% endif %}



      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray-light">
        Сайт опенсорсный. Вы можете {% github_edit_link "предложить правки" %} к этой странице.
      </div>
      {% endif %}
    </div>

    <script src="{{ "assets/javascript/anchor-js/anchor.min.js" | relative_url }}"></script>
    <script>anchors.add();</script>
  </body>
</html>
